
<!DOCTYPE HTML>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex">
<title>농업회사법인 황새말(주)</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=yes"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">

<meta name="subject" content="농업회사법인 황새말(주)" />
<meta name="copyright" content="농업회사법인 황새말(주)" />
<meta name="title" content="농업회사법인 황새말(주)" />
<meta name="apple-mobile-web-app-title" content="농업회사법인 황새말(주)" />
<meta name="application-name" content="농업회사법인 황새말(주)" />
<meta name="theme-color" content="#ffffff" />
<link rel="canonical" href="http://skchung.maruad.co.kr" />
<meta property="og:title"           content="농업회사법인 황새말(주)"/>
<meta property="og:site_name"       content="농업회사법인 황새말(주)"/>
<meta property="og:type"            content="website"/>
<meta property="og:url"             content="http://skchung.maruad.co.kr"/>
<meta property="og:image"           content="http://skchung.maruad.co.kr/img_up/shop_pds/skchung/etc/hoe-ro.png"/>
<meta property="og:image:width" content="450"/>
<meta property="og:image:height" content="236"/>
<meta name="twitter:card"           content="summary">
<meta name="twitter:title"          content="농업회사법인 황새말(주)">
<meta name="twitter:site"           content="농업회사법인 황새말(주)">
<meta name="twitter:image"          content="http://skchung.maruad.co.kr/img_up/shop_pds/skchung/etc/hoe-ro.png">
<link rel="shortcut icon" href="/img/favicon_null.png" />
<!--[if lt IE 9]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script><!--<![endif]-->


<link rel="stylesheet" href="/css/head_basic.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/head_logout.css" type="text/css" media="all" />
<script type="text/javascript">var MOBILE_CONN_YN = false;</script>
<script type="text/javascript" src="/js/all_default.js?v=18"></script>
<script type="text/javascript">
var ios_yn = false;
var APP_CONN_YN = false;
var app_version_code = 0;

var isKitkat = window.navigator.userAgent.search( "AnybuildApp Android 4.4") > -1 ? true : false;
</script>
<script type="text/javascript" src="/img_up/shop_pds/skchung/etc/navi_category_all.js"></script>
<script type="text/javascript" src="/img_up/shop_pds/skchung/etc/goods_category_all.js"></script>
<script type="text/javascript" src="/img_up/shop_pds/skchung/etc/board_list.js"></script>
<script type="text/javascript" src="/img_up/shop_pds/skchung/etc/job_category_all.js"></script>
<script type="text/javascript" src="/js/all_default2.js"></script>
<script type="text/javascript" src="/js/google_map.js?ver=8"></script>
<script type="text/javascript" src="/js/load_frame.js"></script>
<script type="text/javascript" src="/js/head_logout.js"></script>
<script type="text/javascript" id='naver_map_js' ></script>
<script type="text/javascript" id='dynamic_js' ></script>


<link rel="stylesheet" type="text/css" href="/img_up/shop_pds/skchung/design/css/default.css" media="all" />
<link rel="stylesheet" href="/img_up/shop_pds/skchung/design/css/default_tablet.css" type="text/css" media="only all and (min-width:768px)" />
<link rel="stylesheet" href="/img_up/shop_pds/skchung/design/css/default_desktop.css" type="text/css" media="only all and (min-width:1024px)" />
<!--[if lt IE 9]>
<link rel="stylesheet" href="/img_up/shop_pds/skchung/design/css/default_tablet.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/img_up/shop_pds/skchung/design/css/default_desktop.css" type="text/css" media="screen" />
<![endif]-->
<!--[if lt IE 9]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script><!--<![endif]-->
<script type="text/javascript" src="/img_up/_addon/_plugin/css_browser_selector/css_browser_selector.min.js"></script><link rel="stylesheet" type="text/css" href="/img_up/shop_pds/skchung/design/css/main_spot.css" />


		<script type="text/javascript">
	
	var ssl_host = "www.anybuild.com";
	var mall_id = "skchung";
	var ssl_possible = 'on';	var LAN = "kr";
	var category = "";
	function start_page_set(){
		advertise_tmp.style.behavior='url(#default#HomePage)';
		advertise_tmp.setHomePage('http://skchung.maruad.co.kr');
	}
	function bookmark(){
		window.external.AddFavorite('http://skchung.maruad.co.kr', "") ;
	}
	var page_title = "농업회사법인 황새말(주)";
	</script>
				<script>
			// AI-LOG 기본 스크립트
			var ai_log_user_key = "";  // 최초접속자 설정 키값 (default:null)
			var ai_log_account_id = "skchung"; // AI-LOG 계정 아이디
			var ai_log_mem_id = ""; // 고객 아이디
			var ai_log_mobile_web_yn = "0"; // 모바일웹 이라면 1, 데스크탑 홈페이지라면 0
			var ai_log_app_conn_yn = "0"; // 하이브리드 앱이라면 1, 아닌경우 0
			var ai_log_page_title = "농업회사법인 황새말(주)"; // 페이지 제목
			var ai_log_page_url = "/main"; // 페이지 url, 빈값 입력시 브라우져 url 자동 입력 입니다.
			var ai_log_event_mode = ""; // board_reg:게시글 작성, mem_reg:회원가입, sale:매출발생  (default:빈칸)
			var ai_log_event_sale_price = ""; // ai_log_event_mode가 sale 일때  매출 금액
			</script>
							<script type="text/javascript" id="ai_log_chk_script"></script>
				<script type="text/javascript" id="ai_log_default_script" src="https://chk101.ai-log.biz/etc/connect_ai_set.js?ver=2"></script>
							</head>

			<!-- ................................................................ -->
		<!--                                                                  -->
		<!--   Complete Homepage Hosting Service :: aramcommunications        -->
		<!--                                                                  -->
		<!--         Copyright (c) 2005~2020 aramcommunications corporation.  -->
		<!--                 mailto: help@anybuild.co.kr                      -->
		<!--                 http://www.anybuild.co.kr                        -->
		<!--                 tel : 070-7843-3239                              -->
		<!--                                                                  -->
		<!-- ................................................................ -->
			<body >


<div class="wrap">
	<!-- Header -->
	<div id="header">
		<div class="hgroup maxWidth">
			<h1><a href="/main"><img src="/img_up/shop_pds/skchung/design/img/img_logo.png" alt="농업회사법인 황새말(주)" /></a></h1>
			<p class="txt"><img src="/img_up/shop_pds/skchung/design/img/img_headerText.gif" alt="안전하고 건강한 먹거리. 우리농산물 지킴이." /></p>
			<ul class="account ul">
									<li class="btn first"><a href="/login">로그인</a></li>
					<li><a href="/join">회원가입</a></li>
					<li><a href="/shop_contents/myreg_sc_form.htm?myreg_code=shop">주문조회</a></li>
								<li class="show_tabletHigher"><a href="#" onclick="addFavorite('농업회사법인 황새말(주)','http://skchung.maruad.co.kr');return false;">즐겨찾기</a></li>
				<li class="show_tabletHigher"><a href="/shop_info/sitemap.htm">전체보기</a></li>
			</ul>
		</div>
		<div class="headBar">
			<div class="leftLineBackground">
				<div><i class="sprite-ico boundaryLine"></i></div>
			</div>
			<div class="maxWidth">
				<i class="sprite-ico iconLeaf inlineBlock">leaf</i>
				<a href="/product/product_list.htm?list_type=&product_category=02000000" class="leftButton"><span>친환경 농산물 코너</span></a>
				<div id="toggleGnb" class="toggleGnb">
					<a href="#">
						<i class="sprite-ico inlineBlock">list</i>
						<span>전체메뉴</span>
					</a>
				</div>
				<div id="gnb" class="gnb">
					<ul class="ul clr">
																				<li class="menu0">
								<a href="/page/introduce">황새말소개</a>
								<div>
									<ul class="ul clr">
																					<li>
												<a href="/page/introduce">인사말</a>
											</li>																					<li>
												<a href="/page/history">연혁</a>
											</li>																					<li>
												<a href="/page/route">오시는 길</a>
											</li>																			</ul>
								</div>							</li>																				<li class="menu1">
								<a href="/page/business">사업안내</a>
								<div>
									<ul class="ul clr">
																					<li>
												<a href="/page/business">사업안내</a>
											</li>																			</ul>
								</div>							</li>																				<li class="menu2">
								<a href="/product/product_list.htm">황새말쇼핑몰</a>
								<div>
									<ul class="ul clr">
																					<li>
												<a href="/product/product_list.htm?product_category=01000000">황새말 순 추어탕</a>
											</li>																					<li>
												<a href="/product/product_list.htm?list_type=&product_category=02000000">친환경 농산물 코너</a>
											</li>																																								</ul>
								</div>							</li>																				<li class="menu3">
								<a href="/bbs/sub3_0">커뮤니티</a>
								<div>
									<ul class="ul clr">
																					<li>
												<a href="/bbs/sub3_0">알려드립니다</a>
											</li>																					<li>
												<a href="/bbs/sub3_1">황새말 질문방</a>
											</li>																					<li>
												<a href="/bbs/sub3_2">황새말 이야기</a>
											</li>																			</ul>
								</div>							</li>																																																																							</ul>
				</div>
				<ul class="sns ul">
					<li><a href="#" class="sprite-ico twitter">Twitter</a></li>
					<li><a href="#" class="sprite-ico facebook">Facebook</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- // Header -->

	<!-- Container -->
	<div id="container" class="main maxWidth">
		<div>
												<!-- contents -->
			<div class="contents">
								
<!-- Spot banner -->
<div class="spot">
	<script type="text/javascript" src="/img_up/_addon/_util/xmlToList/xmlToObject_v0.01.js"></script>
<script type="text/javascript" src="/img_up/_addon/_plugin/FlexSlider/jquery.flexslider-min.js"></script>

<div id="spotSlide"></div>

<script type="text/javascript">
jQuery(function($){
	$('#spotSlide').xmlToObject_v001({
		'url' : '/img_up/shop_pds/skchung/xml/my_spot_pc_b.xml' // 맞춤XML 데이터 경로를 입력합니다. (주의:맞춤XML의 "XML유형2"항목의 데이터를 입력해야 작동됩니다.)
		,complete : function($this, o)
		{
			var
				scr = ''
				,max = 5 // 출력 갯수제한(0으로 설정하면 모든 데이터 출력)
				,width = '' // 슬라이더 가로 사이즈(숫자만 적으면 단위게 'px'로 지정되고, 숫자뒤에 '%'를 적으면 퍼센테이지로 사이즈가 잡힙니다. 값이 없으면 '100%')
				,height = '' // 슬라이더 세로 사이즈(이미지 사이즈는 변하지 않습니다.)
				,total = (max<o.length && !max==0) ? max : o.length
				,controlNav = ''
			;

			$this
				.addClass('flex-container')
				.width(width)
			;

			scr += '<div class="flexslider">';
			scr += '<ul class="slides">';
			for (var i=0; i<total; i++)
			{
				scr += '<li>';
				scr += (o[i].url1_value) ? '<a href="' + o[i].url1_value + '" target="' + o[i].url1_target + '">' : '';
				scr += (o[i].img1_url) ? '<img src="' + o[i].img1_url + '" alt="' + o[i].txt1_value + '" class="show_mobile" />' : '';
				scr += (o[i].img2_url) ? '<img src="' + o[i].img2_url + '" alt="' + o[i].txt1_value + '" class="show_tablet" />' : '';
				scr += (o[i].img3_url) ? '<img src="' + o[i].img3_url + '" alt="' + o[i].txt1_value + '" class="show_pc" />' : '';
				scr += (o[i].url1_value) ? '</a>' : '';
				scr += '</li>';
			}
			scr += '</ul>';
			scr += '</div>';
			$this.append(scr);
			$this.find('ul.slides>li').height(height);

			scr = '<ul class="ul nav">';
			for (var i=0; i<total; i++)
			{
				var active = (i == 0) ? 'class="active"' : '';
				scr += '<li rel="' + i + '" ' + active + '>';
				scr += '<span>' + o[i].txt2_value + '</span>';
				scr += '</li>';
			}
			scr += '</ul>';
			$this.append(scr);

			$this.children('div.flexslider').flexslider({
				animation : 'slide' // 애니메이션 방식('slide' or 'fade')
				,direction : 'horizontal' // 슬라이드 방향('horizontal' or 'vertical')
				,animationLoop : true // 롤링반복(슬라이드가 끝에서 처음으로 되돌아옵니다.)
				,slideshow : true // 자동 애니메이션
				,slideshowSpeed : 7000 // 딜레이타임(1s=1000)
				,animationSpeed : 700 // 애니메이션 속도
				,pauseOnAction: true // 슬라이드에 액션(페이지이동)이 행해지면 자동 슬라이드 작동유무를 선택합니다.
				,pauseOnHover: false // 슬라이드에 마우스를 갖다댈때의 자동 슬라이드 작동유무를 선택합니다.
				,controlNav : controlNav
				,directionNav : true // 방향 컨트롤 네비게이션
				,touch : true // 화면터치 컨트롤
				,mousewheel : false //마우스 휠 컨트롤
				,startAt : 0 // 슬라이드 시작번호
				,keyboard : false // 키보드 컨트롤(left, right 방향키)
				,initDelay : 0 // 최초 딜레이타임(1s=1000)
				,useCSS : true // css3애니메이션
				,easing : 'swing' // 애니메이션 가속도 방식('linear', 'swing')
				// easing항목 사용조건1 : jquery.easing플러그인이 로드되어야합니다.(상단 jquery.easing관련 주석을 해제해주세요.)
				// easing항목 사용조건2 : useCSS항목의 값이 false가 되어야 작동합니다.
				// easing항목 참고사항 : 애니메이션 가속도에 관한 상세한 내용은 다음과 같은 사이트를 참고하세요. http://gsgd.co.uk/sandbox/jquery/easing/
				,before : function(obj)
				{
					$this.children('ul.nav').children()
						.removeClass('active')
						.eq(obj.animatingTo).addClass('active')
					;
				}
			});

			$this.children('ul.nav').children().on('click', function(){
				var n = parseInt($(this).attr('rel'));
				$this.children('div.flexslider').flexslider(n);
				$(this).parent().children().removeClass('active');
				$(this).addClass('active');
			});
		}
	});
});
</script></div>
<!-- // Spot banner -->

<!-- 황새말 추천먹거리 -->
<div class="recommandFood">
	
<div class="box">
	<div class="hgroup clr">
		<h2>황새말 <strong class="color-red">추천</strong>먹거리</h2>
		<a href="/product/product_main_list.htm?main_code=hotFood" class="sprite-ico plus">- 더보기</a>
	</div>
	<div class="centerImg"><img src="/thum_img/skchung/product/fc9284a29869957eec0edfea56d2bdd7_water__c1_w310_h165.jpg" alt="황새말 순 추어탕은 우리 농촌에서 직접 기른 좋은 재료로 정성껏 만들어 국물 맛이 담백하고 깊은 건강 먹거리입니다. [판매중단 기간 안내: 미꾸라지 월동기(11월 중순~3월 중순. 기온 변화에 따라 기간은 매년 유동적)에는 신선한 재료로 추어탕의 제맛을 내기 힘들어, 추어탕 제조 및 판매가 중단되오니 양해해 주시기 바랍니다.]" /></div>
	<div class="txt clr">
		<strong>황새말 순 추어탕</strong>
		<em>7,000원</em>
		<span>황새말 순 추어탕은 우리 농촌에서 직접 기른 좋은 재료로 정성껏 만들어 국물 맛이 담백하고 깊은 건강 먹거리...</span>
	</div>
</div>
</div>
<!-- // 황새말 추천먹거리 -->

<div class="newstestDocumentsGroup">
	<div class="newstestDocuments">
		<div class="hgroup clr">
			<h2>알려드립니다.</h2>
			<a href="/bbs_shop/list.htm?board_code=sub3_0" class="sprite-ico plus">- 더보기</a>
		</div>
		
<ul class="ul">
	<li>
				<a href="/bbs_shop/read.htm?board_code=sub3_0&idx=2232&cate_sub_idx=0">
			<span>
				- '황새말 순 추어탕' 주문 및 배송안내							</span>
			<em>07-01</em>
		</a>
	</li><li>
				<a href="/bbs_shop/read.htm?board_code=sub3_0&idx=2202&cate_sub_idx=0">
			<span>
				- 농업회사법인 황새말(주) 홈페이지 오픈!!							</span>
			<em>06-03</em>
		</a>
	</li>	</ul>	</div>

	<div class="newstestDocuments last">
		<div class="hgroup clr">
			<h2>황새말 이야기</h2>
			<a href="/bbs_shop/list.htm?board_code=sub3_2" class="sprite-ico plus">- 더보기</a>
		</div>
		
<ul class="ul">
	<li>
				<a href="/bbs_shop/read.htm?board_code=sub3_2&idx=2250&cate_sub_idx=0">
			<span>
				- 추어탕 재료 이야기 1 : 미꾸라지							</span>
			<em>07-16</em>
		</a>
	</li><li>
				<a href="/bbs_shop/read.htm?board_code=sub3_2&idx=2234&cate_sub_idx=0">
			<span>
				- 토종 미꾸라지 채집과 양식장 전경							</span>
			<em>07-04</em>
		</a>
	</li><li>
				<a href="/bbs_shop/read.htm?board_code=sub3_2&idx=2203&cate_sub_idx=0">
			<span>
				- '황새말 이야기' 첫 인사^^							</span>
			<em>06-04</em>
		</a>
	</li>	</ul>
	</div>
</div>

<div class="banners">
	<div class="banner business">
		<h2>황새말 사업안내</h2>
		<div class="centerImage">
			<a href="/shop_add_page/index.htm?page_code=business">
				<img src="/img_up/shop_pds/skchung/design/img/img_mainBanner1.jpg" alt="황새말 사업. 추어탕 / 친환경 농산물 / 농촌과 도시를 잇는 다리가 되겠습니다." />
			</a>
		</div>
	</div>
	
	<div class="banner event">
		<h2>청사진</h2>
		<div class="centerImage">
			<a href="#">
				<img src="/img_up/shop_pds/skchung/design/img/img_mainBanner2.jpg" alt="우리농촌의 미래" />
			</a>
		</div>
	</div>
</div>

<div class="banners2 clr">
	<div class="infomation show_pc">
		<a href="/shop_add_page/index.htm?page_code=introduce" class="left">
			<p>
				<strong>황새말소개</strong>
				<span>안전하고 건강한<br/>먹거리 지킴이</span>
			</p>
			<img src="/img_up/shop_pds/skchung/design/img/img_mainIcon.gif" alt="" />
		</a>
		<a href="/shop_add_page/index.htm?page_code=route" class="right">
			<p>
				<strong>찾아오시는길</strong>
				<span>황새말<br/>오시는길 안내</span>
			</p>
			<img src="/img_up/shop_pds/skchung/design/img/img_mainIcon2.gif" alt="" />
		</a>
	</div>

	<div class="banner question">
		<h2>황새말 질문방</h2>
		<div class="centerImage">
			<a href="/bbs_shop/list.htm?board_code=sub3_1">
				<img src="/img_up/shop_pds/skchung/design/img/img_mainBanner3.jpg" alt="황새말에 질문있어요!" />
			</a>
		</div>
	</div>
	
	<div class="banner customer">
		<h2>고객센터/입금안내</h2>
		<div class="centerImage">
			<img src="/img_up/shop_pds/skchung/design/img/img_mainBanner4.gif" alt="054) 763-8373 / NH농협  351-0495-5840-13 / 예금주 : 농업회사법인 황새말(주)" />
		</div>
	</div>
</div>			</div>
		</div>
	</div>
	<!-- // Container -->

	<!-- Footer -->
	<div id="footer">
		<div class="maxWidth">
			<a href="#header" class="sprite-ico gotoTop show_tabletHigher">위로</a>
			<div class="policyList">
				<a href="#" class="default" id="togglePolicyList">
					<span>회사소개</span>
					<i class="sprite-ico">icon</i>
				</a>
				<ul class="ul clr">
					<li><a href="/shop_add_page/index.htm?page_code=introduce">회사소개</a></li>
					<li><a href="/shop_info/agree.htm">이용약관</a></li>
					<li><a href="/shop_info/privacy.htm">개인정보취급방침</a></li>
					<li class="last"><a href="/shop_info/sitemap.htm">사이트맵</a></li>
				</ul>
			</div>
			<div class="address">
				<strong>농업회사법인 황새말(주)</strong> / <span>대표자:정석영</span> / <span>주소:경상북도 경주시 안강읍  황새마을길 26</span><br/>
				<span>사업자등록번호:505-81-69798</span> / <span>통신판매신고번호:2013-경북경주-00041</span> <a href="#" class="checkOperator inlineBlock">사업자정보확인</a><br/>
				<span>고객센터:<strong>054-763-8373</strong></span> / <span>팩스 : 054-763-8373</span> / <span>개인정보책임자:정석규(<a href="mailto:storkville@hanmail.net">storkville@hanmail.net</a>)</span>
			</div>
			<div class="logo"><img src="/img_up/shop_pds/skchung/design/img/img_footerLogo.png" alt="농업회사법인 황새말(주)" /></div>

			<div class="etc">
				<form name="CERTMARK_FORM" method="post">
					<input type="hidden" name="certMarkURLKey" />
				</form>
				<a href="javascript:onPopCertMar('de225590d5669418dcc862bd60adafd0')" class="nhEscrow">
					<img src='http://escrow.nonghyup.com/imgs/escrow/sub/escrow_mark02.gif' alt='에스크로이체로 결제하기' />
				</a>
			</div>
		</div>
	</div>
	<!-- // Footer -->
</div>
<script type="text/javascript" src="/js/all_bottom_script.js"></script>
<script type="text/javascript">
all_page_script('','','','','','','','','0');
</script>
<script type="text/javascript" src="/img_up/shop_pds/skchung/design/js/events.js"></script>

		<script type="text/javascript">
		setTimeout("create_iframe(0,'ok_frame');",100);
		setTimeout("create_iframe(0,'ok_frame2');",100);
		</script>
		</body></html>